*{
margin:0;
padding:0;
box-sizing:border-box;
color: #3a4a57;
}

body{
  margin:0;
  padding:0;
  font-family:'Mulish',-apple-system,'Segoe UI',sans-serif;
  background:#f4f7f9;
  color:#1a3a48;
  -webkit-font-smoothing:antialiased;
}

.sidebar{
  position: fixed;
  top: 0;
  left: -264px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background: #EAF4FB;
  display: flex;
  flex-direction: column;
  color: #fff;
  transition: left .3s ease;
  z-index: 0;
  border: 1px solid #e4e9f0;
  box-sizing: border-box;
}

.sidebar.open{
  left: 0px;
}


.sb-brand{
  display:flex;
  align-items:center;
  gap:13px;
  padding:22px 22px 20px;
  background: #EAF4FB
}

.sb-logo{
  width:46px;
  height:46px;
  border-radius:50%;
  object-fit:contain;
  background:transparent;
  padding:3px;
  flex:none;
}

.sb-brand h1{
  margin:0;
  color:#002a3a;
  font-weight:900;
  font-size:17px;
  letter-spacing:-0.3px;
  line-height:1.05;
  font-family:'Aleck Sans', 'AT&T Aleck Sans', 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.sub{
  font-family:'Space Mono',monospace;
  font-size:10px;
  color:#0568ae;
  letter-spacing:1.5px;
  margin-top:3px;
  opacity:1;
}

.sb-menu-label{
  font-family:'Space Mono',monospace;
  font-size:10px;
  letter-spacing:2px;
  color:#5a657c;
  opacity:.8;
  padding:14px 24px 8px;
}

.sb-nav{
  display:flex;
  flex-direction:column;
  gap:3px;
  padding:-1px 18px;
  overflow-y:auto;
}

.sb-link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 12px 14px 12px 20px;
  border: none;
  outline: none;
  border-radius: 12px;

  background: transparent;
  color: #3a4a57;

  font-size: 14px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;

  transition: all 0.18s ease;
}

.sb-link svg{
  width:19px;
  height:19px;
  flex:none;
  stroke-width:2px;
  stroke: #8a99a8
}

.sb-link:hover:not(.active) {
  background: rgba(234, 244, 251, 0.5);
}

.sb-link.active{
  background: #EAF4FB;
  stroke:#0568ae;
  box-shadow:0 1px 2px rgba(16, 24, 40, .04), 0 6px 18px rgba(16, 24, 40, .05);
}

.sb-foot{
  margin-top:auto;
  padding:16px 20px;
  border-top:1px solid #e4e9f0;
  display:flex;
  align-items:center;
  text-align:left;
  gap:11px;
}

.ava{
  width:38px;
  height:38px;
  border-radius:50%;
  background:#fff;
  color:#009fdb;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:800;
  font-size:13px;
  place-items:center;

}

.who{
  font-size:13px;
  font-weight:700;
  color:#3a4a57;
  min-width:0;
}

.who small{
  display:block;
  font-size:11px;
  font-weight:400;
  color:#3a4a57;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.menu-btn{
    position: relative;
    top: auto;
}

.menu-btn svg{
  width:24px;
  height:24px;
}

